h1 {
    text-align: center;
}

.playground {
    display: flex;
    justify-content: center;
}

#square-log,
#square-test {
    width: 200px;
    height: 200px;
    text-align: center;

    border: 1px solid black;
    overflow: auto;
}

#square-log span,
#square-test span {
    display: block;
}

#form {
    display: flex;
}
#form .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#form .btn {
    border-radius: 0;
}

#form .btn:last-of-type {
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}