h1 {
    text-align: center;
}

.playground {
    display: flex;
    justify-content: center;
}

#square-test,
#square-ejercicio {
    width: 200px;
    height: 200px;
    text-align: center;

    border: 1px solid black;
    overflow: auto;
}

#square-test span,
#square-ejercicio span {
    display: block;
    color: white;
}
